/* ==========================================================================
   Base
   ========================================================================== */

body { }

.center-text{ text-align: center;}

/* =============================================================================
   Header
   ========================================================================== */
.navbar .brand {
  background: url(../img/logo.jpg) no-repeat;
  width: 216px;
  height: 62px;
  margin-left: 50px;
  text-indent: -999px;
}
.navbar {margin: 0px;}
#banner { }

/* Fixed Topbar Navigation */
body.top-navbar { padding-top: 0px; }
body.admin-bar .navbar-fixed-top { top: 28px; }



/* ==========================================================================
   Content
   ========================================================================== */

#content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

#main { }

#testimonials-slider .carousel-inner{
  background: url('../img/test_bg.jpg') no-repeat;
  height: 313px;
  width: 295px;
}
#testimonials-slider .item {float: left;
  width: 220px;
  padding: 90px 0px 0px 40px;
}
#testimonials-slider .client-link{
  padding-top: 40px;
}
.carousel-inner {
position: relative;
width: 100%;
overflow: hidden;
text-align: center;
}



/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry p.byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

#content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}

#nav-main{
  float: right;
  margin-top: 20px;
}

/*** misc ***/
.clearer{
  clear: both;
}

/************** Home Page *************/
/*
.navbar .brand{
  margin-left: 0px;
}
.navbar-inner .container{
  width: 962px;
  margin: 0px auto;
}
#wrap{
  width: 962px;
  margin: 0px auto;
  margin-top: 20px;
}
#main h1{
  background: url(../img/h1_bg.jpg) no-repeat;
  width: 960px;
  height: 86px;
  line-height: 90px;
}
#main h1 span{
  color: red;
}
#main h3{
  background: url(../img/what_we_do.jpg) no-repeat;
  width: 960px;
  height: 46px;
  line-height: 57px;
}
#main .row .span4{
  margin-left: 0px !important;
}
#main .row .span4 p{
  padding: 0px 10px !important;
}
.row .span4 h2 span{
  color: red;
}
footer.container{
  background: url(../img/footer_bg.jpg) repeat-x;
  height: 370px;
  width:100%;
}
footer .footer-content{
  width: 960px;
  margin: 0px auto;
  padding-top: 20px;
}
footer .footer-content .span3{
  height: 250px;
}
.footer-copyright{
  padding-top: 15px;
  color: #ffffff;
  padding-top: 35px;
}
.footer-content .span3 ul{
  list-style-type: none;
}
.footer-content .span3 li{
  padding: 0px;
  margin: 0px;
}
.footer-content .div1 li,.footer-content .div2 li,.footer-content .div4 li{
  line-height: 30px;
}
.related-posts{
  margin: 0px !important;
}
.recent-post h3{
  background: url(../img/blog_title.jpg) no-repeat #ffffff!important;
  height: 59px !important;
  width:643px !important;
}
.related-posts li{
  list-style-type: none;
}
.related-posts .pull-left{
  background: url(../img/blog_date_bg.jpg) no-repeat;
  height: 96px;
  width:85px;
  text-align: center;
  padding-top: 20px;
  margin-right: 10px;
  clear: both;
}

#testimonials-slider h3{
  background: url(../img/testimonial.jpg) no-repeat #ffffff!important;
  height: 59px !important;
  width:317px !important;
}
*/

/* ==========================================================================
   Home Page
   ========================================================================== */
.related-posts .span1 {
  text-align: center;
  background-color: #ffffff;
  border-color:#efefef;
  margin-right: 10px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      border-radius: 5px;
 -moz-box-shadow: 7px 4px 5px #efefef;
 -webkit-box-shadow: 7px 4px 5px #efefef;
 box-shadow: 7px 4px 5px #efefef;


 }
.related-posts .span1 .date,.related-posts .span1 .month {padding:10px;} 
.related-posts .span1 .date {
color: #f25c4f;
}
#testimonials-slider .carousel-inner  .item div{
 text-shadow:2px 3px 3px #ffffff;
}
.recent-post {position: relative;}
.recent-post h3:after{
  content: "";  
    display: block;  
    border-top: solid 1px #bfbfbf; 
    border-bottom: solid 1px #bfbfbf;  
    width: 60%;  
    height: 3px;  
    position: absolute;  
    top: 30px;  
    z-index: 1;
    right:81px;  
}
/*
.recent-post h3 span {
 background: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 5;
  }
  */